.conteneur{
	width : 78%;
	margin : auto;
	text-align : center!important;
}
.titreEvenement{
	text-align: left;
}
.conteneurBoutonEvenement{
	margin-top : 30px;
}
.conteneurInputTitreEvenement{
	margin-top : 30px;
}
.inputTitreEvenement{
	display: inline-block!important;
	width : 70%!important;
}
.conteneurTexteEvenement{
	margin-top : 30px;
}
.inputTexteEvenement{
	display: inline-block!important;
	width : 70%!important;
}
.boutonFileEvenement{
	margin-top : 50px;
	display : initial!important;
	margin-right : 20px;
	margin-bottom : 30px;
}
.conteneurImagesEvenement{
	margin-top : 30px;
}
.conteneurImageEvenement{
	display: inline-block;
	vertical-align: top;
	width: 150px;
	position : relative;
	cursor: pointer;
	margin-bottom : 5px;
}
.imageEvenement {
	width : 150px;
	height : 100px;
}

.croixSuppressionEvenement{
	position: absolute!important;
	font-size: 20px;
	right: 0.1em;
	opacity :0;
	color : white;
}
.conteneurImageEvenement:hover .croixSuppressionEvenement {
	opacity: 1;
}
.croixSuppressionEvenement:hover{
	color : red;
}
