.conteneurEvenementEnSavoirPlus{
	margin-top : 160px;
	text-align: center;
	background-color: #FAFAFA;
}

.conteneurTitreEvenementEnSavoirPlus{

	font-family : Arial, Helvetica, sans-serif;
	font: normal normal normal 40px/1.4em 'times new roman',times,serif;
	color : black;
	word-wrap: break-word;
	letter-spacing: -0.06em;
	font-style : italic;
	font-size: 50px;
	margin-bottom : 25px;
	text-align: center;
}

.conteneurTexteEvenementEnSavoirPlus{

	display : inline-block;
	font: italic normal normal 18px/1.4em 'times new roman',times,serif;
	color: #605E5E;
	margin-right : 20px;
	text-align: center;
	margin-bottom : 25px;
}

.conteneurContenuEvenementEnSavoirPlus{
	text-align: center!important;
	background-color: white;
	margin-top : 25px;
}
