<header class = "frontHeader">
	<img class = "imgFrontHeader" src = "{{asset('bundles/Accueil/image/logoFLS.gif')}}" alt = "logoFlS" />
	<h4> Fleur de Lys Photograhy </h4>
</header>

<nav class = "conteneurfrontNav">
	<div class = "frontNav">
		Présentation
	</div>
	<div class = "frontNav">
		Contact
	</div>
	<div class = "frontNav">
		Portfolio
	</div>
	<div class = "frontNav">
		Tarif
	</div>
	<div class = "frontNav">
		Evénement
	</div>
	<div class = "frontNav">
		Utilisateurs
	</div>
</nav>



