.conteneurTarifsFront{
	margin : auto;
	width : 85%;
	text-align: center;
}

.conteneurTarifFront{
	display : inline-block;
	width : 30%;
	margin-right : 2%;
	margin-bottom: 20px;
}

.imageTarifFront{
	/*width : 500px;*/
	width : 100%;
	margin-bottom: 15px;
}