.conteneurTarif {
	margin : auto;
	width : 79%;
	text-align: center;
}

.titreTarif{
	margin-bottom : 25px;
	text-align: left;
}

.conteneurboutonTarif{
	margin-bottom : 40px;
}

.conteneurFormulairesTarif{


}

.conteneurFormulaireTarif{
	margin-bottom : 15px;
	padding : 10px;
}
.conteneurImageTarif{
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
.conteneurTextTarif{
	display : inline-block;
	width: 25%;
	vertical-align: middle;

}
.conteneurPrixTarif{
	display: inline-block;
	width: 25%;
	vertical-align: middle;
}

.imageTarif{
	width : 120px;
	height: 110px;
	margin-bottom : 10px;
}

.conteneurBoutonModifTarif{
	display :inline-block;

}

.croixSuppressionTarif{

	display : inline-block;
	opacity : 0;
	color : black;
	margin-left : 20px;
	cursor: pointer;
}


.conteneurFormulaireTarif:hover .croixSuppressionTarif{
	opacity: 1;
}

.croixSuppressionTarif:hover{
	color : red;
}

.fullTexte{
	margin-top : 20px;
	margin-bottom: 15px;
}
