{% extends "::baseFront.html.twig" %}

{% block body %}


	<div class = "conteneurPresentationFront">
		<h2 class = "conteneurTitrePresentationFront">
			{{presentation.titre}}
		</h2>

		<div class = "conteneurTextePresentationFront">
			{{presentation.texte}}
		</div>

		<div class = "conteneurImagePresentationFront">
			<img src =  "{{presentation.urlImage}}" alt = "Image de présentation" class = "imagePresentationFront" />
		</div>
	</div>


{% endblock %}