{% extends "::baseFront.html.twig" %}

{% block body %}
	<div class="row" style="padding:0px 100px;">
		<div class="col-sm-4" style="text-align:right;margin-top:50px;">
			<div class="row">
				<img src = "{{ presentation.urlImage }}" alt = "Image de présentation" style="border-radius:20px;width:200px;"/>
			</div>
		</div>
		 <div class="col-sm-8" style="text-align:left;">
  			<div class="row">
  				<h2 style="margin:10px 0">
					{{presentation.titre}}
				</h2>
			</div>
			
			<div class="row">
				{{presentation.texte}}
			</div>
		</div>
	</div>
{% endblock %}