{% extends "::baseFront.html.twig" %}

{% block body %}

<div class ="conteneurConnexion">

  <div class = "conteneurTexteConnexion">
    <div class = "texteConnexion">
      Connectez-vous <br>
      pour accéder à vos photos
    </div>
  </div>

  <form action = "{{path('user_platform_testConnexion')}}" method = "post" class = "conteneurFormulaireConnexion">
    <div class = "conteneurIdentifiant">
      <input type = "text" name = "email" placeholder = "Email" class = "form-control"/>
    </div>
      <div class = "conteneurMotDePasse">
        <input type = "password" name = "motdepasse" placeholder = "Mot de passe" class = "form-control" />
      </div>

    <input type = "submit" value = "Valider" class = "boutonValiderConnexion" />
  </form>

  <div class = "conteneurTexteConnexion">
    <div class = "texteConnexion">
      Vous n'avez pas de compte ? <br>
      Contactez-nous
    </div>

    <div class = "conteneurLienTarif">
      <a href = "{{path('contact_platform_affichage_front')}}" class = "lienTarif">CONTACTEZ-NOUS</a>
    </div>

  </div>

</div>

{% endblock %}
