{% extends "::baseFront.html.twig" %}

{% block body %}

<div class ="conteneurPhotosUser">


  <div class = "conteneurPhotosUserPhoto">

    <div class = "conteneurLienUserAlbum">
      <a href = "/FLP/Symfony/web/bundles/User/upload/{{images[0].id}}/{{images[0].id}}.zip" class = "lienUserAlbum">TÉLÉCHARGER</a>
    </div>

    <div class = "conteneurMonAlbum"> Mon album </div>
    {% set i = 0 %}
    {% for image in images %}
      {% if i != 0 %}
        <div class = "conteneurPhotoUserPhoto" >
          	<img class = "imageUser" src = "{{image.urlImage}}" alt = "image" />
        </div>
      {% endif %}
      {% set i = i+1 %}
    {% endfor %}
  </div>

</div>

{% endblock %}
