{% extends "::base.html.twig" %}

{% block body %}

<div class = "conteneurUser">
  <h1 class = "titreUser">Utilisateurs</h1>

  <div class = "conteneurColonne">
    <div class = "conteneurColonneNom">
      Nom
    </div>
    <div class = "conteneurColonnePrenom">
      Prénom
    </div>
    <div class = "conteneurColonneEmail">
      Email
    </div>
  </div>

  <div class = "conteneurTableau">
  {% for user in users %}
    <div class = "conteneurLigne">
        <div class = "conteneurValeurNom">
          {{user.username}}
        </div>

        <div class = "conteneurValeurPrenom">
          Prenom
        </div>

        <div class = "conteneurValeurEmail">
          {{user.email}}
        </div>
      <form action =  "{{ path('user_platform_voir') }}" method = "post" class = "conteneurBoutonVoir">
        <input type = "submit" value = "Voir" />
        <input type = "hidden" name = "idUser" value = "{{user.id}}" />
      </form>
      <form class = "conteneurBoutonModifier">
        <input type = "submit" value = "Supprimer" />
      </form>
  </div>

  {% endfor %}
  </div>

</div>
{% endblock %}
