body{
	background-color: white;
	color : black;
}

.navFixed{
	position:fixed;
	top:0;
	width:100%;
	padding:0px 50px;
	background-color: white;
	z-index: 1000;
}

.frontHeader{
	padding-top : 30px;
	text-align: center;
}

.imgFrontHeader{
	width : 350px;
	margin-right: 5px;
	cursor : pointer;

}

.imgFrontHeader:hover{
	opacity : 0.5;
}

.titreSite{
	cursor : pointer;
}

.titreSite:hover {
	opacity : 0.5;
}


.conteneurfrontNav{
	text-align: center;
	padding: 30px 0px;
}

.frontNav {	
	display : inline-block;
	vertical-align: top;
	font-style: italic;
	margin-right : 50px;
	color : #959595;
	cursor : pointer;
}

.frontNav:hover{
	opacity : 0.2;
}

.frontNav a {
	color : #959595;
}

a{
	text-decoration: none !important;
}

.row{
	margin: 0px;
}

.conteneur{
	text-align: center;
	margin: 125px 0px 150px 0px;
	background-color: #FAFAFA; 
}

.frontFooter{
	font-style: italic;
	text-align: center;
	color: black;
	height: 80px;
	padding-top: 40px;
	font-size: 12px;
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}