body{
	background-color: black;
	color : white;
}

.navFixed{
	position:fixed;
	top:0;
	width:100%;
	padding:0px 50px;
	background-color: #000;
	z-index: 1000;
}

.frontHeader{
	
}

.imgFrontHeader{
	width : 100px;
	display : inline-block;
	margin-right: 5px;
	cursor : pointer;
}

.imgFrontHeader:hover{
	opacity : 0.5;
}

.titreSite{
	cursor : pointer;
}

.titreSite:hover {
	opacity : 0.5;
}

.frontHeader h4 {
	font-style: italic;
	display : inline-block;
	font-size: 14px;
}

.conteneurfrontNav{
	text-align:right;
	padding: 50px 0px;
}

.frontNav {	
	display : inline-block;
	vertical-align: top;
	font-style: italic;
	margin-right : 50px;
	color : #959595;
	cursor : pointer;
}

.frontNav:hover{
	color : white;
}

.frontNav a {
	color : #959595;
}

a{
	text-decoration: none !important;
}

.row{
	margin: 0px;
}

.conteneur{
	text-align: center;
	margin: 125px 0px 150px 0px;
}

.frontFooter{
	text-align: center;
	color: #959595;
	height: 100px;
	padding-top: 40px;
	font-size: 11px;
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
}