.conteneurPremierDemi{
	width : 45%;
	display:inline-block;
	vertical-align: top;

}

.conteneurDeuxiemDemi{
	width : 45%;
	display:inline-block;
	vertical-align: top;
}

.imagesAccueilFront{
	cursor : pointer;
	width : 100%;
	padding: 20px 0px 0px 20px;
}

.imagesAccueilFront:hover{
	opacity: 0.5;
}