.conteneurAccueil{
	width : 78%;
	margin : auto;
	text-align : center;
}

.titreAccueil{
	text-align: left;
}

.conteneurBouton{
	margin-top : 15px;
	width: 100%;
	text-align:center;
}

#filesToUpload{
	margin-left : 37%;
}

.conteneurImage{
	display: inline-block;
}

.conteneurUneImage{
	position : relative;
	width: 150px;
	height: 100px;
	display: inline-block;
	cursor: pointer;
	margin-top : 25px;
	vertical-align: top;
	margin-right : 20px;
}

.imageAccueil{
	width: 150px;
	height: 100px;
}

.conteneurUneImage:hover .imageAccueil {
	opacity: 0.5;
}

.croixSuppression{
	position: absolute!important;
	font-size: 20px;
	right: 0.1em;
	opacity :0;
	color : white;
}

.conteneurUneImage:hover .croixSuppression {
	opacity: 1;
}

.croixSuppression:hover{
	color : red;
}

.footer{
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	color : #5e5e5e;
	text-align: center;
	font-size: 13px;
	margin-top: 60px;
	padding-top: 25px;
	height: 70px;
}
