.conteneurImagesAccueilFront{
	margin-left: 15%;
	width : 90%;
	height:350px;
	overflow: auto;
	overflow-y:scroll;
	overflow-x:hidden;

}

.conteneurPremierDemi{
	width : 39%;
	display:inline-block;
	margin-right: 2%;
	vertical-align: top;
}

.conteneurDeuxiemDemi{
	width : 39%;
	display:inline-block;
	vertical-align: top;
}

.imagesAccueilFront{
	cursor : pointer;
	width : 100%;
	margin-top : 20px;
}

.imagesAccueilFront:hover{
	opacity: 0.5;
}